# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\gradlecode\gradle2022_02_parent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
